.image-preview {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}

.image-preview > img {
  max-width: 100%;
  max-height: 100%;
}

.image-preview-marked {
  border: solid;
  border-color: red;
}
